*.o
*.d
*.pyc
/XarCMPlugIn/build/
/XarCMPlugIn/XarCMPlugin.xcodeproj/*
!/XarCMPlugIn/XarCMPlugin.xcodeproj/project.pbxproj
/XarKit/build/
/XarKit/XarKit.xcodeproj/*
!/XarKit/XarKit.xcodeproj/project.pbxproj
/xarmdimport/build/
/xarmdimport/xar.xcodeproj/*
!/xarmdimport/xar.xcodeproj/project.pbxproj
/xarql/build/
/xarql/xar.xcodeproj/*
!/xarql/xar.xcodeproj/project.pbxproj
/xar/autom4te.cache/
/xar/configure
/xar/Makefile
/xar/cfghdrs.stamp
/xar/cfgoutputs.stamp
/xar/config.log
/xar/config.status
/xar/include/config.h
/xar/include/xar.h
/xar/lib/Makefile.inc
/xar/lib/libxar.la.in
/xar/src/Makefile.inc
/xar/xar.spec
/xar/lib/.libs/
/xar/lib/*.dylib
/xar/lib/*.a
/xar/lib/*.la
/xar/src/ixar
/xar/src/xar
