/Makefile
/Makefile.in
/aclocal.m4
/libtool
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/stamp-h1
/xar-strextract
/xar-toc_extract
/autom4te.cache
/.deps
/.libs
/xarfile.c
/stamp-all
/build
