/boldquot.sed
/ChangeLog
/en@boldquot.header
/en@quot.header
/insert-header.sin
/Makefile.in.in
/Makefile.in
/Makefile
/Makevars.template
/quot.sed
/remove-potcdate.sin
/Rules-quot
/remove-potcdate.sed
/POTFILES
/xar-core.pot
/stamp-po
